In [655]:
# import packages
import pandas as pd
import numpy as np
import seaborn as sns

pd.options.mode.chained_assignment = None

# read the data
df = pd.read_csv('Assignment1Data_Sample.csv')

# shape and data types of the data
print(df.shape)
print(df.dtypes)

# select numeric columns
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print(numeric_cols)

# select non numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print(non_numeric_cols)

(204, 41)
Object Number               object
Object ID                    int64
Department                  object
Object Name                 object
Title                       object
Culture                     object
Period                      object
Dynasty                     object
Reign                       object
Portfolio                   object
Artist Role                 object
Artist Prefix               object
Artist Display Name         object
Artist Display Bio          object
Artist Suffix               object
Artist Nationality          object
Artist Begin Date           object
Artist End Date             object
Object Date                 object
Object Begin Date            int64
Object End Date            float64
Medium                      object
Dimensions                  object
Credit Line                 object
Geography Type              object
City                        object
State                       object
County                      object
Country                     object
Region                      object
Subregion                   object
Locale                      object
Locus                       object
Excavation                  object
River                       object
Classification              object
Rights and Reproduction     object
Link Resource               object
Metadata Date               object
Repository                  object
Tags                        object
dtype: object
['Object ID' 'Object Begin Date' 'Object End Date']
['Object Number' 'Department' 'Object Name' 'Title' 'Culture' 'Period'
 'Dynasty' 'Reign' 'Portfolio' 'Artist Role' 'Artist Prefix'
 'Artist Display Name' 'Artist Display Bio' 'Artist Suffix'
 'Artist Nationality' 'Artist Begin Date' 'Artist End Date' 'Object Date'
 'Medium' 'Dimensions' 'Credit Line' 'Geography Type' 'City' 'State'
 'County' 'Country' 'Region' 'Subregion' 'Locale' 'Locus' 'Excavation'
 'River' 'Classification' 'Rights and Reproduction' 'Link Resource'
 'Metadata Date' 'Repository' 'Tags']

In [656]:
#Filterig data with reuired fields and some other fields which might be useul to find missing values
df = df.filter(['Object ID', 'Department', 'Object Name', 'Title', 'Culture', 'Artist Nationality', 'Object Begin Date', 'Object End Date', 'Medium', 'Credit Line','Country'])

In [657]:
df.dtypes

Object ID               int64
Department             object
Object Name            object
Title                  object
Culture                object
Artist Nationality     object
Object Begin Date       int64
Object End Date       float64
Medium                 object
Credit Line            object
Country                object
dtype: object

In [658]:
# % of missing values for each column
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Object ID - 0%
Department - 0%
Object Name - 0%
Title - 5%
Culture - 59%
Artist Nationality - 57%
Object Begin Date - 0%
Object End Date - 1%
Medium - 1%
Credit Line - 0%
Country - 84%

In [659]:
#Removing duplicate values from dataset which shares common "Object Number" and assigned String datatype
print(df.shape)
df = df.drop_duplicates(subset='Object ID')
print(df.shape)

(204, 11)
(200, 11)

In [660]:
#before apply categorical, null values are removed
df = df.dropna(subset=['Department'])
df.shape

(199, 11)

In [661]:
#all non numeric data in lower case to make data consistent
for col in ['Object Name', 'Title', 'Culture', 'Artist Nationality',
 'Medium', 'Credit Line', 'Country']:
    df[col] = df[col].str.lower()

In [662]:
#all numeric column into int and fill missing value
for col in numeric_cols:
    missing = df[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  # only do the imputation for the columns that have missing values.
        print('imputing missing values for: {}'.format(col))
        med = df[col].median()
        df[col] = df[col].fillna(med).astype('int')

imputing missing values for: Object End Date

In [663]:
#data consistent for Artist Nationality
for a in ['french','american','japanese','italian','british','spanish','german', 'dutch','finnish']:
    df['Artist Nationality'] = df['Artist Nationality'].astype("string")
    syn = df[df['Artist Nationality'].str.contains(a)]['Artist Nationality']
    syn = syn.tolist()
    print("List of Nationality contains " + a + ":")
    print(syn)
    df['Artist Nationality'] = df['Artist Nationality'].replace(syn, a)

List of Nationality contains french:
['french, born italy', 'french|french', 'french', 'french|french|french|french|french|french', 'french|french?|french', 'french|french', 'french', 'french|french|french|french|french', 'french|british', 'french|italian', 'french|french', 'french', 'french']
List of Nationality contains american:
['american|american', 'american', 'american', 'american', 'american', 'american', 'american', 'american', 'american', 'american', 'american', 'american|american|american', 'american', 'american', 'american', 'american', 'american', 'american', 'american', 'american|american', 'american', 'american', 'american, born russia', 'american', 'american', 'american', 'american', 'american, born russia', 'american', 'american', 'german|american|american|american', 'american']
List of Nationality contains japanese:
['japanese', 'japanese', 'japanese', 'japanese|japanese', 'japanese']
List of Nationality contains italian:
['italian', 'italian', 'italian', 'italian', 'italian', 'italian|bohemian', 'italian', 'italian', 'italian', 'italian|italian', 'italian|italian', 'italian', 'italian', 'italian|italian|italian|italian|italian', 'italian|italian|german', 'italian|british']
List of Nationality contains british:
['british', 'british|british', 'british', 'british|british|british|british|british|british|british', 'british', 'british, scottish', 'scottish|british|british, scottish|british|british']
List of Nationality contains spanish:
[]
List of Nationality contains german:
['netherlandish|german', 'german']
List of Nationality contains dutch:
['dutch|dutch|dutch', 'dutch']
List of Nationality contains finnish:
['finnish|finnish']

In [664]:
#data consistent for Culture
for a in ['spanish','greek','french', 'german', 'minoan','british','italian', 'european']:
    df['Culture'] = df['Culture'].astype("string")
    syn = df[df['Culture'].str.contains(a)]['Culture']
    syn = syn.tolist()
    print("List of Cultures contains " + a + ":")
    print(syn)
    df['Culture'] = df['Culture'].replace(syn, a)
    
df['Culture'] = df['Culture'].replace(['japan'], 'japanese')

List of Cultures contains spanish:
['possibly spanish', 'spanish']
List of Cultures contains greek:
['possibly greek', 'greek, attic', 'greek, attic', 'greek, attic', 'greek, attic', 'greek, attic', 'greek, attic', 'greek, attic']
List of Cultures contains french:
['french', 'probably french', 'french', 'probably french', 'french', 'french', 'french', 'french', 'french']
List of Cultures contains german:
['german', 'german', 'german', 'german, silesia (bunzlau)', 'german, hanau', 'probably german', 'german']
List of Cultures contains minoan:
['minoan', 'minoan, crete']
List of Cultures contains british:
['british', 'british', 'british, chelsea', 'british, stoke-on-trent, staffordshire']
List of Cultures contains italian:
['italian', 'italian, venice', 'italian, venice']
List of Cultures contains european:
['european, eastern', 'european', 'european', 'european or middle eastern']

In [665]:
#Adding Nationality Manually for some of the culture which is missing in current dataset
df.loc[df.Culture == 'dutch', 'Artist Nationality'] = "nederlandish"
df.loc[df.Culture == 'german', 'Artist Nationality'] = "german"
df.loc[df.Culture =='thailand', 'Artist Nationality'] = "thais"
df.loc[df.Culture == 'india (guler, punjab hills)', 'Artist Nationality'] = "indian"
df.loc[df.Culture == 'european', 'Artist Nationality'] = "european"
df.loc[df.Culture == 'romanian', 'Artist Nationality'] = "romanian"
df.loc[df.Culture == 'greek', 'Artist Nationality'] = "greek"
df.loc[df.Culture == 'spanish', 'Artist Nationality'] = "spanish"
df.loc[df.Culture == 'cypriot', 'Artist Nationality'] = "cyprus"
df.loc[df.Culture == 'italic', 'Artist Nationality'] = "italian"
df.loc[df.Culture == 'minoan', 'Artist Nationality'] = "greek"
df.loc[df.Culture == 'asmat people', 'Artist Nationality'] = "indonesian"
df.loc[df.Culture == 'aztec', 'Artist Nationality'] = "mexican"
df.loc[df.Culture == 'atlantic watershed', 'Artist Nationality'] = "atlantic"
df.loc[df.Culture == 'abelam people', 'Artist Nationality'] = "melanesians"
df.loc[df.Culture == 'mexican', 'Artist Nationality'] = "mexican"
df.loc[df.Culture == 'timor', 'Artist Nationality'] = "temorese"
df.loc[df.Culture == 'iran', 'Artist Nationality'] = "iranians"
df.loc[df.Culture == 'catalan', 'Artist Nationality'] = "catalonia"
df.loc[df.Culture == 'byzantine', 'Artist Nationality'] = "greek"

In [666]:
#Adding Country Manually for some of the Nationality which is missing in current dataset
df.loc[df['Artist Nationality'] == 'german', 'Country'] = "germany"
df.loc[df['Artist Nationality'] == 'japanese', 'Country'] = "japan"
df.loc[df['Artist Nationality'] == 'chinese', 'Country'] = "china"
df.loc[df['Artist Nationality'] == 'thais', 'Country'] = "thailand"
df.loc[df['Artist Nationality'] == 'indian', 'Country'] = "india"
df.loc[df['Artist Nationality'] == 'british', 'Country'] = "united kingdom"
df.loc[df['Artist Nationality'] == 'italian', 'Country'] = "italy"
df.loc[df['Artist Nationality'] == 'european', 'Country'] = "europe"
df.loc[df['Artist Nationality'] == 'romanian', 'Country'] = "romania"
df.loc[df['Artist Nationality'] == 'cyprus', 'Country'] = "cyprus"
df.loc[df['Artist Nationality'] == 'greek', 'Country'] = "greece"

In [667]:
#filling missing value of Artist nationality based on other records where Culture:Nationality matches
g = df.dropna(subset=['Artist Nationality']).drop_duplicates('Culture').set_index('Culture')['Artist Nationality']
g.drop(g.tail(1).index,inplace=True)
df['Artist Nationality'] = df['Artist Nationality'].fillna(df['Culture'].map(g))

In [668]:
#filling missing value of culture based on other records where Nationality:Culture matches
g = df.dropna(subset=['Culture']).drop_duplicates('Artist Nationality').dropna(subset=['Artist Nationality']).set_index('Artist Nationality')['Culture']
print(g)
df['Culture'] = df['Culture'].fillna(df['Artist Nationality'].map(g))

Artist Nationality
american                           american
nederlandish                          dutch
japanese                           japanese
german                               german
spanish                             spanish
chinese                               china
thais                              thailand
indian          india (guler, punjab hills)
british                             british
italian                             italian
european                           european
french                               french
romanian                           romanian
greek                                 greek
cyprus                              cypriot
indonesian                     asmat people
mexican                               aztec
atlantic                 atlantic watershed
melanesians                   abelam people
temorese                              timor
iranians                               iran
catalonia                           catalan
Name: Culture, dtype: object

In [669]:
#filling missing value of Country based on other records where Culture:Country matches
g = df.dropna(subset=['Country']).drop_duplicates('Culture').dropna(subset=['Culture']).set_index('Culture')['Country']
df['Country'] = df['Country'].fillna(df['Culture'].map(g))

In [670]:
#applying Categorical on Culture, Artist Nationality and Country
UniqueCulture = df['Culture'].dropna().unique()
df.Culture = pd.Categorical(df.Culture, categories=UniqueCulture)
df['CultureCategorical'] = df.Culture.cat.codes

In [671]:
#applying categorical for Departments  
depts = df['Department'].unique()
df.Department = pd.Categorical(df.Department, categories=depts)
df['DepartmentCategorical'] = df.Department.cat.codes

In [672]:
#applying categorical for Departments  
countries = df['Country'].dropna().unique()
df.Country = pd.Categorical(df.Country, categories=countries)
df['CountryCategorical'] = df.Country.cat.codes

In [673]:
#I found some data with nagative sign in Object Begin Date and Object End Date and I havent change it 
# as "from datautil.date import parse" this parse will convert BC dates in nagative so here I dont think I need to make any changes.

In [674]:
#Missing data percentage after Cleaning perform.
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Object ID - 0%
Department - 0%
Object Name - 1%
Title - 5%
Culture - 3%
Artist Nationality - 1%
Object Begin Date - 0%
Object End Date - 0%
Medium - 1%
Credit Line - 0%
Country - 5%
CultureCategorical - 0%
DepartmentCategorical - 0%
CountryCategorical - 0%

In [675]:
#MissingValue before cleaning and After Cleaning and adding some data values logically and manually
#                      Before   After
#Culture:              59%      3%
#Artist Nationality    57%      1%
#Country               84%      5%

In [677]:
#Preparing csv file for Categorical fields reffrence for Country, Nationality and Culture
data = {'Department':df['Department'],
        'DepartmentCategorical':df['DepartmentCategorical'],
        'Culture':df['Culture'],
        'CultureCategorical':df['CultureCategorical'],
        'Country':df['Country'],
        'CountryCategorical':df["CountryCategorical"]
       }
 
# Create DataFrame
df2 = pd.DataFrame(data)
df2.to_csv (r'C:\Users\HP\Desktop\CategoricalColumnRefferenceValues.csv', index = None, header=True)

In [678]:
#Filtering data for final cleaned dataset
df = df.filter(['Object ID', 'DepartmentCategorical', 'Object Name', 'Title', 'CultureCategorical', 'Artist Nationality', 'Object Begin Date', 'Object End Date', 'Medium', 'Credit Line', 'CountryCategorical'])

In [679]:
df.to_csv (r'C:\Users\HP\Desktop\CleanDatasetFinal.csv', index = None, header=True)